fastapi
uvicorn[standard]

python-multipart
python-dotenv

numpy
pandas

scikit-learn

xgboost

shap

prophet

sentence-transformers

paddleocr
paddlepaddle

opencv-python

pdf2image
Pillow

joblib

matplotlib

seaborn

pytest

httpx